<h1 class="title">GameHub</h1>
<nav class="nav-bar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/categories" class="nav-link">Categories</a>
    </li>
    <li class="nav-item">
      <a href="/games" class="nav-link">Games</a>
    </li>
    <li class="nav-item">
      <a href="/category/create" class="nav-link">Create Category</a>
    </li>
    <li class="nav-item">
      <a href="/game/create" class="nav-link">Create Game</a>
    </li>
  </ul>
</nav>
