<h1>GameHub</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/category">Categories</a></li>
    <li><a href="/category/create">Create Category</a></li>
    <li><a href="/game/create">Create Game</a></li>
  </ul>
</nav>
