<!DOCTYPE html>
<html>
  <head>
    <%- include ("./partials/_head"), {title}; %>
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
    <main></main>
    <footer><%- include ("./partials/_footer"); %></footer>
  </body>
</html>
