<!DOCTYPE html>
<html>
  <head>
    <title>GameHub | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
    <main></main>
    <footer><%- include ("./partials/_footer"); %></footer>
  </body>
</html>
