<!DOCTYPE html>
<html>
  <head>
    <title>GameHub | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
  </body>
</html>
