<!DOCTYPE html>
<html>
  <head>
    <title>Items</title>
  </head>
  <body>
    <h1>All Items</h1>
    <ul>
      <% items.forEach(function(item) { %>
      <li>
        <p><%= item.name %></p>
        <p><%= item.description %></p>
        <p><%= item.price %></p>
        <p><%= item.qty %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
