<% let body = '<h1>All Items</h1><ul>'; %>
<% items.forEach(function(item) { %> 
    <% body += `<li><p>${item.name}</p>
    <p>${item.description}</p>
    <p>${item.price}</p>
    <p>${item.qty}</p></li>`; %>
<% });%> 
<% body += '</ul>'; %> 
<%- include('layout', { title: 'Items', body: body }) %>