* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.game-list,
.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.game,
.category {
  background: #d5d5d5;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

.actions-container button {
  background: transparent;
  border: none;
}

.actions-container button i {
  display: block;
  color: #6d6d6d;
}

.game-name,
.category-name {
  font-size: 1.5em;
  font-weight: 700;
}

.game-description,
.category-description {
  font-size: 1em;
}

.game-price {
  font-size: 1.25em;
  font-weight: 700;
}

.game-qty {
  font-size: 1em;
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  z-index: 101;
}

form {
  display: flex;
  flex-direction: column;
}
